.about
	padding-top: 2rem
	padding-bottom: 3rem
	background-color: $about-bg
	&__row	
		display: flex
		flex-wrap: wrap
	&__col
		flex-basis: 50%
	&__price
		background-color: $light
		border-left: 10px solid $main-blue
		flex-basis: 100%
		margin-bottom: 2.42rem
		padding-top: 0.5rem
		padding-bottom: 2rem
		padding-left: 1rem
		position: relative
		&:last-child
			margin-bottom: 0
	&__price-block
		display: flex
		flex-wrap: wrap	
	&__item
		color: $black
		font-weight: 400
		font-size: 2.5rem
		line-height: 3rem
	&__description
		font-weight: 300
		font-size: 1.71rem
		line-height: 2rem
		max-width: 29rem
		margin: 0
	&__feedback
		padding-left: 1.5rem

	&__feedback-title
		text-align: right
		margin-bottom: 2.6rem
.feedback
	&__header
		display: flex
		align-items: center
		padding-top: 1rem
		padding-left: 1rem
	&__title-block
		display: flex
		flex-direction: column	
	&__img
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		overflow: hidden
		width: 6.21rem
		height: 6.21rem
		margin-right: 1.5rem
		& img
			transform: scale(1.1)
	&__description
		padding-left: 1rem
		max-width: 30rem
.price-block__title
	flex-basis: 100%
	margin-bottom: 2.71rem
.item__price
	color: $main-blue
	font-weight: 900
	line-height: 2rem
	font-size: 1.72rem
	text-align: right
	position: absolute
	top: 50%
	right: 1.5rem
	transform: translateY(-50%)
.swiper-scrollbar-drag
	background-color: $main-blue
	height: 5rem !important
	border-radius: 0
	&:hover
		cursor: pointer
.swiper-scrollbar
	width: 1rem !important
	border-radius: 0
	height: 100% !important
.swiper-container
	max-height: 43.5rem
	height: 100% !important
	background-color: $light !important


