.button
	color: $light
	background-color: $main-blue
	border: none
	padding-top: 1.28rem
	padding-bottom: 1.28rem
	font-weight: 700
	font-size: 1.28rem
	outline: none
.block-title
	font-weight: 900
	font-size: 1.71rem
	color: $main-blue
	margin: 0